body {
  color: white;
  background-color: white;
}

ul {
  text-align: center;
  border: 10px solid black;
  width: 50%;
  margin-left: 300px;
}

li {
    display: inline;
  }

li a {
    color: white;
  }


h1 {
  text-align: center;
  margin-top: -150px;
  font-size: 60px;
  font-style: sans-serif;

}

body {
  background-color: #EC7063;
}
.in-post-image
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 10px;
}
.seasoned-chicken
  {
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}
.allingredients
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.finishedincooker
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}
.dish
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 60px;
}

.purpledye 
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 10px;
}

.dyecolors
  {
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.makingwc
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.finishedwc
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.wccolors
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.finished1
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 60px;
}

.finished2
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 60px;
}

.cookedonions
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 30px;
}

.cutbread
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.sourcreaminbread
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.cheeseinbread
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.cookedbread
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 60px;
}

.finishedbread
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 60px;
}

.finishedcheesecake
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 30px;
}

.cheesecakepiece
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.cream
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 10px;
}

.mix{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.sb1
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}

.sb2
{
  width: 200px;
  height: 250px;

}

.cookiedough
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
  margin-top: 10px;
}

.cookies
{
  transform: rotate(90deg);
  width: 250px;
  height: 200px;
}


